/* Set background to light gray */
.App {
  text-align: center;
  background-color: #fd94c3;  /* Light gray background */
  min-height: 100vh;
  padding: 40px 0;
}

/* Center everything in the page */
h1 {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

/* Style the input and button */
.todo-input {
  margin-bottom: 20px;
  padding: 10px;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #178bc1;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the button */
button:hover {
  background-color: #0076f4;
}

/* Style for the list */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgb(212, 139, 227);
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the delete button */
button.delete-btn {
  background-color: #b65f5f;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button.delete-btn:hover {
  background-color: #8769c3;
}

/* Images for styling */
img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Style for the task text */
.task-text {
  font-size: 18px;
  color: #333;
}
